body {
    background-image: url("eagle.jpg");
	background-size: cover;
	background-position: center;
	 background-attachment: fixed;
	margin: 0;
	height: 100%;
}

html{
	margin: 0;
	height: 100%;
}

.alert{
	width: 50%;
	margin: auto;
}

#notravel{
	text-align: center;
}

#journey{
	background-color: #212529;
	border-radius: 5px;
	padding: 20px;
	width: 30%;
	margin: auto;
}

#deleteb{
	margin: auto;
}

#prenotation{
	margin: auto;
    width: 30%;
	background-color: #212529;
}

#data{
	margin: auto;
    width: 30%;
	background-color: #212529;
}

#signb{
	margin: 20px;
}

#prenoteb{
	margin: 20px;
}

#loginb{
	margin: 20px;
}

.table{
	margin: auto;
	width: 50% !important;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none !important;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}